body{
    background-image: url("thumb-1920-605746.jpg");
}

h1 {
    background-color: black ;
    color: white;
    text-align: center;
    font-family: initial;
    font-size: 25pt;
}

label {
    color: black;
    text-decoration: underline;
    font-display: initial;
    font-size: 150%;
    font-weight: initial;
}